*{
    padding: 0;
    margin: 0;
}
.body{
    height: 915px;
    background: linear-gradient(90deg, turquoise, whitesmoke);
    
}
/* profil */
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.profil{
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid black;
    padding: 2px;
    background: linear-gradient(180deg, turquoise, white);
    animation: 1s infinite neon;
}
@keyframes neon{
    50%{
        background: linear-gradient(180deg, white, turquoise);
    }
}
/* title */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.s{
    font-size: 35px;
    color: black;
    animation: 2s infinite s;
}
@keyframes s{
    50%{
        opacity: 0;
    }
}
.o{
    font-size: 35px;
    color: black;
    animation: 3s infinite o;
}
@keyframes o{
    50%{
        opacity: 0;
    }
}
.c{
    font-size: 35px;
    color: black;
    animation: 4s infinite c;
}
@keyframes c{
    50%{
        opacity: 0;
    }
}
.i{
    font-size: 35px;
    color: black;
    animation: 5s infinite i;
}
@keyframes i{
    50%{
        opacity: 0;
    }
}
.a{
    font-size: 35px;
    color: black;
    animation: 6s infinite a;
}
@keyframes a{
    50%{
        opacity: 0;
    }
}
.l{
    font-size: 35px;
    color: black;
    animation: 7s infinite l;

}
@keyframes l{
    50%{
        opacity: 0;
    }
}
._{
    opacity: 0;
}
.ll{
    font-size: 35px;
    color: black;
    animation: 5s infinite ll;
}
@keyframes ll{
    50%{
        opacity: 0;
    }
}
.ii{
    font-size: 35px;
    color: black;
    animation: 4s infinite ii;
}
@keyframes ii{
    50%{
        opacity: 0;
    }
}
.n{
    font-size: 35px;
    color: black;
    animation: 3s infinite n;
}
@keyframes n{
    50%{
        opacity: 0;
    }
}
.k{
    font-size: 35px;
    color: black;
    animation: 2s infinite k;
}
@keyframes k{
    50%{
        opacity: 0;
    }
}
/* social link */
.contenair{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 360px;
    width: 270px;
    border: 4px solid black;
    border-radius: 50px;
}

.items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    background-size: 100px;
    border-radius: 50px;
    height: 180px;
    width: 180px;
    animation:5s infinite items;
}
@keyframes items{
    50%{
        transform: rotate(360deg);
    }
}
.menu{
    overflow: hidden;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 360px;
    width: 270px;
    border-radius: 30px;
    border: 4px solid black;
    background: linear-gradient(90deg, turquoise, whitesmoke);
   animation: 10s infinite btn;
}
@keyframes btn{
0%{
    transform: translateX(0);
}
25%{
    transform: translateX(-270px);
}
50%{
    transform: translateX(-540px);
}
75%{
    transform: translateX(-810px);
}
100%{
    transform: translateX(-1080px);
}
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    background: whitesmoke;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 4px solid black;
    
}
/*  */
.footer{
    display: flex;
    justify-content: center;
}
.h3{
    color: turquoise;
}
/*  */
.contacte{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 270px;
    border: 2px solid black;
    border-radius: 50px;
}

